.header {
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  align-items: center;

  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 .5rem;

    &__image {
      width: 3rem;
    }

    &__title {
      font-size: 1.4rem;
      font-weight: 500;
      color: #005196;
      margin: 0 .5rem;
    }
  }

  &__link {
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: .25rem;
    border: 2px solid #7b71de;
    transition: box-shadow .1s;
    color: #7b71de;

    &:hover {
      box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    }
  }
}